@import '../../styles/utilities.module.scss';

.window {
    position: fixed;
    border-radius: 10px;
    border-width: 4px;
    border: solid 1px var(--color);
    background-color: var(--background-color);
    box-shadow:
        5px 5px 0px 0px var(--color-20),
        5px 5px 0px 1px var(--color);

    &.foreground {
        box-shadow:
            7.5px 7.5px 0px 0px var(--alt-darker);
            // 7.5px 7.5px 0px 1px var(--color);

        .title-bar {
            background-color: var(--color-20);
        }
    }

    .title-bar {
        user-select: none;
        display: flex;
        align-items: center;
        height: 44px;
        padding: 16px;
        border-bottom: solid 1px var(--color);

        .button-ctr {
            display: flex;
            align-items: center;
            gap: 12px;

            .button {
                padding: 0px;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: var(--color);
                border: none;
            }
        }

        .title {
            flex: 2;
            text-align: center;
            padding-right: 60px;
        }
    }

    .main {
        user-select: none;
        padding: 14px;
        height: calc(100% - 44px);
        border-radius: 10px;
    }
}